@font-face {
    font-family: odin;
    src: url(./assets/webfontkit-20240809-050030/norse-bold-webfont.woff2), url(./assets/webfontkit-20240809-050030/norse-bold-webfont.woff);
}

body{
    display: flex;
    background-color: rgb(249, 250, 251);
}
:root{
    --body-font:2.2rem;
    --label-font:1.1rem;
    font-family: Garamond, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.bg-container{
    background-image: url("./assets/halie-west-25xggax4bSA-unsplash.jpg");
    background-color: aquamarine;
    background-size:cover;
    width: 40%;
    height: 1420px;
    
}

.title {
    background-color: rgb(0,0,0,50%);
    font-family: odin, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 250px;
    padding: 20px;
}

.title img{
    display: inline-block;
    width: 200px;
}

.title span{
    font-size: 12rem;
}

.body-container{
    
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.body-container>div{
    /* if i add this to body ocntainer itself 
    then form will also get padded meaning teh box shadow wont extend till the end */
    padding-left: 70px;
    padding-right: 400px;
}


.heading{
    font-size: var(--body-font);
    line-height: 1.2;
}
.heading, .form-container>p{
    font-weight:600;}
.heading :first-child{
    margin-bottom: 30px;
}
.heading :last-child{
    margin-bottom: 80px;
}

.heading span{
    font-style: italic;
}

.form-container p{
    font-size: var(--body-font);
    margin-bottom: 30px;
}
.form-container{
    background-color: white;
    box-shadow:5px 5px 10px rgb(221, 222, 222);
    padding-top:30px;
    padding-bottom: 60px;
}

form label{
    font-size: var(--label-font);
    color: grey;
    font-weight: bold;
}

.form-element-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
    width: 800px;
}

.form-element-cont div{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

form input{
    font-size: calc(var(--label-font) + 5px);
    width: 350px;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px 10px;
}

.create-container{
    margin-top: 60px;
    
}

.create-container p{
    margin-top: 30px;
}

.create-container button{
    padding: 20px 50px;
    width: 400px;
    color: white;
    background-color: #596D48;
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: bold;
}
.create-container p{
    font-size: 1.5rem;
}

.create-container a{
    text-decoration: none;
    color: #596D48;
    font-weight: bold;
}

